header{
    background-image: linear-gradient(to right, blue, navy);
    text-align: center;
    color: white;
}

.formButton{
    width: 100%;
}

.formText{
    font-size:xx-large;
    font-weight: bold;
}
.area{
    font-size:xx-large;
    font-weight: bold;
    padding-left: 3%;
}
.buttonBox{
    flex-direction: column;
    flex-wrap: wrap;

}
.buttonPadding{
    padding-top: 5%;
}

.weatherBox{
    border: solid black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.weatherInfo{
    list-style: none
}
.forecastCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.weatherCard{
    border: solid black;
    background-color: blue;
    color: white;
    width: 18%;
    font-size: larger;

}